.repeat .ant-input-number-handler-wrap {
  @apply w-[22px] opacity-100;
}
.repeat .ant-input-number-handler {
  @apply border-s-0;
}
.repeat .ant-input-number-handler-up,
.repeat .ant-input-number-handler-down {
  @apply transition-none hover:m-0 hover:h-auto hover:border-none hover:bg-transparent hover:p-0;
  line-height: normal !important;
  height: 50% !important;
  border-block-start: 0 !important;
}
