# ===========================
# MÔI TRƯỜNG DEV
# ===========================
NEXT_PUBLIC_BASE_API_URL=https://dev-lms-be.sapp.edu.vn/api/v1  # API backend cho môi trường Dev
NEXT_PUBLIC_KEYCLOAK_URL=https://dev-accounts.sapp.edu.vn/       # URL của Keycloak cho môi trường Dev
NEXT_PUBLIC_KEYCLOAK_REALM=lms-dev                               # Realm Keycloak cho môi trường Dev

# ===========================
# MÔI TRƯỜNG UAT
# ===========================
NEXT_PUBLIC_BASE_API_URL=https://uat-lms-be.sapp.edu.vn/api/v1  # API backend cho môi trường UAT
NEXT_PUBLIC_KEYCLOAK_URL=https://uat-accounts.sapp.edu.vn/      # URL của Keycloak cho môi trường UAT
NEXT_PUBLIC_KEYCLOAK_REALM=lms-uat                              # Realm Keycloak cho môi trường UAT

# ===========================
# CẤU HÌNH CHUNG
# ===========================
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=local-lms-frontend               # Client ID của Keycloak

# Firebase configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB12OZbgQA8VpCSAYrgytTJkUexafwiN74  # API Key Firebase
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=sapp-develop.firebaseapp.com        # Auth domain Firebase
NEXT_PUBLIC_FIREBASE_PROJECT_ID=sapp-develop                         # ID dự án Firebase
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=sapp-develop.appspot.com         # Storage Firebase
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=579391570124                # Sender ID cho Firebase Cloud Messaging
NEXT_PUBLIC_FIREBASE_APP_ID=1:579391570124:web:ed5e7c72474edf434bc269 # Firebase App ID
NEXT_PUBLIC_FIREBASE_VAPIDKEY=BANlYjHJCUf-jXUtrRR8zXl2QytADlfN9vVUP_N_3dd3nGgH7tcIAgOcTGHRr8pyCNujwHdpVZ7DSg5SsViq5u0  # VAPID Key cho Firebase Push Notifications

NEXT_PUBLIC_VIDEO_URL=https://customer-9amjw4bjeabflln6.cloudflarestream.com/  # URL phát video từ Cloudflare Stream
NEXT_PUBLIC_TINY_EDITDER_API_KEY=tyfr3hvp7v3mt24gzu3jtbbm3nvr01hquem04a4oei6ui86j  # API Key cho TinyMCE Editor
NEXT_PUBLIC_WEB_LMS_URL=http://localhost:3000/  # URL của ứng dụng LMS trên web (local)

# Google Analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-3Y71SB8L7D  # ID theo dõi Google Analytics

# Socket configuration
NEXT_PUBLIC_SOCKET=https://dev-socket-be.sapp.edu.vn  # URL của socket backend

# Sentry (Error tracking & monitoring)
NEXT_PUBLIC_SENTRY_DSN=https://ea1e17dffa22a9582c4caa0461ccd914@o4507497737551872.ingest.us.sentry.io/4507581904977920  # DSN của Sentry để giám sát lỗi
NEXT_PUBLIC_SENTRY_PROJECT=lms-uat-sentry  # Tên dự án trên Sentry
NEXT_PUBLIC_SENTRY_NAME=sapp-tg  # Tên ứng dụng trên Sentry

# Hiển thị form của Hubspot về LMS đối với khóa Trial
NEXT_PUBLIC_FORM_ID=
NEXT_PUBLIC_PORTAL_ID=

# File viewer url
NEXT_PUBLIC_PDF_JS_URL=https://mozilla.github.io/pdf.js/web/viewer.html
NEXT_PUBLIC_OFFICE_VIEWER_URL=https://view.officeapps.live.com/op/embed.aspx