public-hoist-pattern[]=react
public-hoist-pattern[]=react-dom
node-linker=hoisted

@sapp-fe:registry=https://gitlab.sapp.edu.vn/api/v4/groups/4/-/packages/npm/
//gitlab.sapp.edu.vn/api/v4/groups/4/-/packages/npm/:_authToken=glpat-RxdGye2MRgqghBnyz76Z
//gitlab.sapp.edu.vn/:_authToken=glpat-RxdGye2MRgqghBnyz76Z