.sapp-collapse-wrapper {
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;

  svg {
    color: #e1e3ea;
  }

  &.expanded {
    transform: rotate(90deg);

    svg {
      color: var(--bs-primary);
    }
  }
}
