.activity {
  &__body {
    text-rendering: optimizeLegibility;
  }
}

.learning-activity-collapse {
  .ant-collapse-header {
    @apply p-0;
    padding: 0 !important;
  }
  .ant-collapse-content-box {
    @apply p-0;
    padding: 0 !important;
  }
  .learning-outcome-content {
    p {
      @apply mb-0;
    }
  }
}

.learning-activity-tabs {
  &.tabs-list-hidden {
    .ant-tabs-nav {
      @apply hidden;
    }
  }
  .ant-tabs-tab {
    @apply pt-0;
    .ant-tabs-tab-btn {
      &:focus {
        @apply text-primary;
      }
    }
    &:hover {
      @apply text-primary;
    }
  }
  .ant-tabs-tab + .ant-tabs-tab {
    margin-left: 4rem !important;
  }
  .ant-tabs-nav {
    margin: 0 !important;
  }
  .ant-tabs-tab-active {
    .learning-act-tab-label {
      @apply text-primary;
    }
  }
  .ant-tabs-ink-bar {
    @apply bg-primary;
  }

  .course-tab-text {
    p {
      @apply mb-0;
    }
  }
}
