.ant-picker-today-btn {
  color: #ffb800 !important;
}
.ant-picker-outlined {
  outline: none !important;
  border-color: #dcdddd !important;
  // @apply border-default !important;
}
.ant-picker:hover {
  border: 1px solid #ffb800 !important;
}
.ant-picker-dropdown .ant-picker-header-view button:hover {
  color: #ffb800 !important;
}

.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: 1px solid #ffb800 !important;
}

.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-cell-inner {
  background: #ffb800 !important;
}

.ant-picker-input > input::placeholder {
  font-size: 16px !important;
  font-weight: 500 !important ;
  color: #a1a1a1 !important;
}

.ant-picker {
  border: 1px solid;
  border-radius: 6px;
}
.ant-picker .ant-picker-range .ant-picker-input > input {
  font-weight: 700 !important;
}
.ant-picker .ant-picker-input > input {
  font-weight: 500 !important;
  color: var(--bs-gray-700) !important;
  line-height: 21px !important;
  font-size: 14px !important;
}
.ant-picker div.ant-picker-input > input::placeholder {
  font-size: 14px !important;
}
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start
  .ant-picker-cell-inner {
  background-color: #ffb800 !important;
}
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range::before {
  background-color: #fffaf0 !important;
}
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(
    .ant-picker-cell-range-start-single
  )::before {
  background-color: #fffaf0 !important;
}
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(
    .ant-picker-cell-range-end-single
  )::before {
  background-color: #fffaf0 !important;
}
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end
  .ant-picker-cell-inner {
  background-color: #ffb800 !important;
}
.ant-picker-cell-in-view.ant-picker-cell-in-range {
  .ant-picker-cell-inner {
    color: #ffb800 !important;
  }
}
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-start,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-end {
  &::after {
    border-color: #ffb800 !important;
  }
}
.ant-picker-range .ant-picker-active-bar {
  background: #ffb800;
}
.ant-picker-focused.ant-picker {
  border-color: none;
  box-shadow: none;
}

.create-date-range-picker.ant-picker-focused {
  border-color: #ffb800;
}

.ant-picker-clear {
  font-size: 16px;
}
.ant-picker-dropdown {
  z-index: 1000000;
}
