.sapp-upload-file {
  &-progress {
    background: rgba(0, 0, 0, 0.02);
    border: 0.0625rem dashed #d9d9d9;
    padding: 0.9375rem 1.25rem;
    border-radius: 0.375rem;
    margin-top: 1.25rem;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .ant-progress {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    &_icon {
      margin-right: 0.9375rem;
    }

    .ant-progress-outer {
      order: 2;
    }

    .ant-progress-text {
      margin-right: calc(2em + 0.5rem);
      margin-left: auto;
      order: 1;
    }
  }
}

.sapp-upload-file-content {
  position: relative;

  .sapp-upload-file-name {
    position: absolute;
    top: -0.25rem;
    left: 0;
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.sapp-modal_upload-file {
  .modal-header {
    padding-bottom: 0;
    align-items: start;
  }
}
.sapp-modal_upload-file_tab_title {
  cursor: pointer;
  &._checked {
    color: #141414;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      height: 0.0625rem;
      background-color: var(--bs-primary);
      width: 100%;
      bottom: -0.0625rem;
      left: 0;
    }
  }
}
