.filter .select-single .select__control {
  @apply h-[17px] items-baseline border-0 shadow-none bg-transparent min-h-[17px];
}

.name-course a {
  @apply block;
}

.filter .select-single.status-course .select__value-container {
  @apply p-0 pr-2;

  & > input {
    @apply text-gray-1 text-medium-sm font-normal;
  }
}

.filter .select-single .select__indicator {
  @apply p-0;
}

.filter .select-single .select__indicator svg {
  @apply w-4 h-4;
}

.filter .select__input-container {
  @apply p-0 m-0;
}

.name-course + .des {
  @apply pt-[17px];
}

.sapp-drawer .ant-drawer-wrapper-body .ant-drawer-body {
  padding: 0;
}

.modal-body {
  display: none;
}

.sapp-btn-close-modal {
  display: none;
}

.download,
.delete path {
  stroke: #a1a1a1;
  transition: stroke 0.3s ease;
}

/* Hover styling */
.download:hover path {
  stroke: #ffb800; /* Red color on hover */
}

.delete:hover path {
  stroke: #d35563; /* Red color on hover */
}

.sapp-active-item-guide .item:first-child {
  @apply bg-white z-50;
}

.select__menu {
  min-width: 150px !important;
  right: 0px;
}

.group-resource:hover {
  fill: #ffb800; /* Change to the desired hover fill color */
  cursor: pointer; /* Optional: Change cursor to pointer on hover */
}

.notes-list-icon {
  @apply text-gray-1;

  &:hover {
    @apply text-primary;
  }

  &.active {
    @apply text-primary;
  }
}

.select-single.status-course {
  .select__input-container {
    @apply text-gray-1 text-medium-sm font-normal;
  }
}
