body:not(.no-hover) {
  .menu-sidebar-left {
    &:hover {
      @apply w-[200px];

      .group-logos {
        @apply pb-5;
      }

      .logo-default {
        @apply hidden;
      }

      .logo-full {
        @apply block;
      }

      .sidebar-item .label {
        display: -webkit-box;

        &.avatar {
          display: block;
        }
      }
    }
  }
}

.sidebar-list-items {
  &:hover {
    .sidebar-child.level-1 {
      @apply opacity-100 visible;
    }
  }

  .sidebar-child {
    &.level-1 {
      @apply w-max rounded-md transition-all duration-300 absolute top-0 left-full z-20 bg-white p-4 opacity-0 invisible border border-default;
      .sidebar-item {
        @apply justify-start;

        .label {
          @apply block;
        }
      }

      .sidebar-list-items {
        @apply mb-3 last:mb-0 pl-0;
      }
    }

    &.level-2 {
      @apply transition-all duration-100 h-0 opacity-0 invisible;

      &.active {
        @apply opacity-100 visible h-full;

        .sidebar-list-items {
          @apply pl-0;
        }
      }

      .menu-items-list {
        @apply p-4 pb-0;
      }

      .sidebar-list-items {
        @apply mb-3 last:mb-0;
      }
    }
  }
}
