@mixin tab-highlight {
  @apply block !text-primary;
}

.sapp-tabs-profile {
  .ant-tabs-nav {
    @apply my-0 px-0 pt-0;
    .ant-tabs-nav-wrap {
      .ant-tabs-nav-list {
        @apply flex w-full justify-between lg:w-auto;
      }
    }
  }
  .ant-tabs-tab + .ant-tabs-tab {
    @apply ml-0 lg:ml-16;
  }
  .ant-tabs-tab {
    @apply font-normal text-gray-800;
    &.ant-tabs-tab-active {
      @apply font-semibold;
      .ant-tabs-tab-btn {
        @include tab-highlight;
        &:focus {
          @include tab-highlight;
        }
      }
    }
    .ant-tabs-tab-btn {
      &:focus,
      &:hover {
        @include tab-highlight;
      }
    }
    &:hover {
      @include tab-highlight;
    }
  }
  .ant-tabs-ink-bar {
    @apply bg-primary;
  }
}

.ant-card.profile-card {
  .ant-card-head {
    @apply hidden border-b-0 p-0 md:block;
    .ant-card-head-wrapper {
      @apply items-start;
      .ant-card-head-title {
        @apply text-xl font-bold text-secondary;
      }
    }
  }
  .ant-card-body {
    @apply px-4 pb-4 pt-3 md:p-0;
  }
}

.sapp-profile-switch.ant-switch {
  transition: background-color 0.3s;
  &.ant-switch-checked {
    background-color: $color-green;

    &:hover:not(.ant-switch-disabled) {
      background-color: $color-green;
    }
    .ant-switch-handle::before {
      @apply bg-white;
    }
  }
  // }
}

.certificate-card-wrapper {
  @apply h-full w-full bg-cover bg-center bg-no-repeat;
  // background-image: url('../assets/images/certificate-bg.png');
}

.ant-otp {
  @apply flex justify-between gap-3;
  .ant-otp-input-wrapper {
    input {
      @apply rounded-lg border border-[#DCDDDD] p-2 text-center text-base font-medium shadow-0 outline-none md:!px-5 md:py-4 md:text-2xl;
      @apply focus:border-primary focus:shadow-0 focus:outline-none;

      &.ant-input-status-error {
        @apply border-[#C73B37] text-error-400;
        @apply hover:border-[#C73B37] focus:border-[#C73B37] focus:shadow-0 focus:outline-none;
      }
    }
  }
}
