# Container Configuration
NODE_ENV=production
NEXT_TELEMETRY_DISABLED=1 

NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=lms-frontend
NEXT_PUBLIC_BASE_API_URL=https://uat-lms-be-zoom.sapp.edu.vn/api/v1
NEXT_PUBLIC_APP_URL=https://uat-liveclass-learning.vercel.app/
NEXT_PUBLIC_KEYCLOAK_URL=https://uat-accounts-zoom.sapp.edu.vn/
NEXT_PUBLIC_KEYCLOAK_REALM=lms-uat
NEXT_PUBLIC_API_BASE_URL=https://uat-lms-be-zoom.sapp.edu.vn/api/v1

NEXT_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=sapp-develop.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=sapp-develop
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=sapp-develop.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=your_firebase_app_id
NEXT_PUBLIC_FIREBASE_VAPIDKEY=your_firebase_vapidkey

NEXT_PUBLIC_VIDEO_URL=https://customer-qf43f9e6huohhr1o.cloudflarestream.com/
NEXT_PUBLIC_TINY_EDITDER_API_KEY=your_editor_api_key
NEXT_PUBLIC_WEB_LMS_URL=http://localhost:3000/
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-3Y71SB8L7D
NEXT_PUBLIC_SOCKET=https://dev-socket-be.sapp.edu.vn

NEXT_PUBLIC_SENTRY_DSN=your_public_sentry_dsn
NEXT_PUBLIC_SENTRY_PROJECT=lms-uat-sentry

# Docker Configuration
NODE_ENV=production
NEXT_TELEMETRY_DISABLED=1
HOSTNAME=0.0.0.0
PORT=3000